name: Java CI

on:
  push:
    branches: [ "main" ]

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
    # to checkout a code. its going to take a copy of the repo
    - uses: actions/checkout@v4 
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      
      with:
        java-version: '11'
        distribution: 'temurin'
        
    - name: Build with Ant
      run: ant -noinput -buildfile build.xml
